<div class="container">


  <div class="upperNavBarLeft" id="textSlider">
    <div class="scroller">
      <div class="inner">
        <ul>
          <li><a href="#">It's Reading Time!.</a></li>
          <li><a href="#">This Week's Book Recommentations</a></li>
          <li><a href="#">New Features</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="upperNavBarRight">
    <a routerLink="user">Member Login &nbsp;</a>&nbsp;<a href="#">Premium &nbsp;</a><a href="#">Community &nbsp;</a><a href="#">Help &nbsp;</a>
  </div>
  <app-bookshelf></app-bookshelf>
</div>
