<div class="container">
  <form class="newBookSubmit">
    <label for="author">Please enter the author's name</label>
    <input type="text" name="author" placeholder="Author(s)" /><br />
    <label for="author">Please enter the book's title</label>
    <input type="text" name="title" placeholder="Title" /><br />
    <label for="author">Please enter the book's summary</label>
    <input type="text" name="summary" placeholder="Summary" /><br />
    <label for="author">Please enter the book's page count</label>
    <input type="text" name="pages" placeholder="pages"  /><br />
    <label for="author">Please enter the goal date for completion</label>
    <input type="date" name="date" placeholder="due date" /><br />
    <button type="submit">List a new book.</button>
  </form>
</div>
