#welcomeLogo {
  border: 1px solid #efeff0;
  /* border-radius: 5px; */
  padding: 5%;
  width: 100%;
  margin-left: -6%;
  background-color: #f8f9fa;
  margin-bottom: 5px;
}
#welcomeSidebar{
  border: 1px solid #efeff0;
  /* border-radius: 5px; */
  width: 100%;
  padding: 5%;
  margin-left: -6%;
  background-color: #f8f9fa;
}

#welcomeBottom {
  border: 1px solid #efeff0;
  /* border-radius: 5px; */
  padding: 5%;
  background-color: #f8f9fa;
  margin-top: 5px;
}

#welcomeMain{
  border: 1px solid #efeff0;
  /* border-radius: 5px; */
  padding: 5%;
  background-color: #f8f9fa;
}
