<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="welcomeTop">
      </div>
    </div><br />
    <div class="col-md-3">
      <div id="welcomeLogo">
        <h4>logo placeholder</h4>
      </div>
      <div id="welcomeSidebar">
        <div>
          <h1>PLACE HOLDER TEXT</h1>
          <h3>PLACE HOLDER TEXT</h3>
        </div>
        <div>
          <h2>LOOK AT THIS</h2>
          <h4>PLACE HOLDER TEXT</h4>
        </div>
      </div>
    </div>
    <div class="col-md-9" id="welcomeMain">
      <div>
        <h1>Welcome to BookMeh!</h1>
        <h1><a routerLink="members">User Login</a></h1>

        <h3>PLACE HOLDER TEXT</h3>
      </div>
      <div>
        <h2>PLACE HOLDER TEXT</h2>
        <h4>PLACE HOLDER TEXT.</h4>
      </div>
    </div>
    <div class="col-md-12" id="welcomeBottom">
      <h3>See What's New at BookMeh Placeholder</h3>
    </div>
  </div>
</div>
