<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <a routerLink="members">User Login</a>
    </div><br />
    <div class="col-md-3" id="welcomeSidebar">
      <div>
        <h1>STUFF STUFF STUFF</h1>
        <h3>MORE STUFF MORE STUFF</h3>
      </div>
      <div>
        <h2>LOOK AT THIS</h2>
        <h4>PLACE HOLDER TEXT</h4>
      </div>
    </div>
    <div class="col-md-9" id="welcomeMain">
      <div>
        <h1>WHAT ARE WE IF NOT OUR DREAMS</h1>
        <h3>ALSO, I HOPE THIS WORKS</h3>
      </div>
      <div>
        <h2>TEXT, BEHAVE YOURSELF</h2>
        <h4>CSS, DO YOUR THING.</h4>
      </div>
    </div>
  </div>
</div>
