


  <div id="userHeader">
    <h3>Add New Book to Your Collection</h3>
  </div>
  <div class="row">
    <div class="col-md-3">

    <div class="submitText">
      <label>Book Title:</label>
      <br>
      <input #newTitle>
    </div>

    <div class="submitText">
      <label>Author:</label>
      <br>
      <input #newAuthor>
    </div>

    <div class="submitText">
      <label>Book Summary:</label>
      <br>
      <textarea #newSummary></textarea>
    </div>
    <button class="submitBook" (click)="submitForm(newTitle.value, newAuthor.value, newSummary.value); newTitle.value=''; newAuthor.value=''; newSummary.value=''">Add</button><br />
    <div class="returnHome">
      <a routerLink="/members">Return Home</a>
    </div>
      <p class="submitBook">Please click a title to update an entry.</p>
  </div>



  <div class="col-md-9">
  <app-usershelf></app-usershelf>
  </div>
</div>
<div class="returnHome">
  <a routerLink="/members">Return Home</a>
</div>
